$colour1: #edc7b7;
$colour2: #eee2dc;
$colour3: #bab2b5;
$colour4: #123c69;
$colour5: #ac3b61;

$background: $colour2;
$text-colour: $colour4;
$group-colour: $colour5;
$mark-colour: $colour3;
$item-colour: $colour1;

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans;
    background-color: $background;
    color: $text-colour;
}

.root {
    font-weight: bold;
}

.item {
    padding: 5px 20px 5px 5px;
    margin: 5px;
    border-left: 5px solid $item-colour;
}

.mark {
    padding: 5px 20px 5px 5px;
    margin: 5px;
    border-left: 5px solid $mark-colour;
}

.group {
    padding: 5px 20px 5px 5px;
    margin: 5px;
    border-left: 5px solid $group-colour;
    position: relative;

}

.tooltiptext {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;

    // width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    top: 0px;
    padding: 3px 6px;
    border-radius: 6px;
    margin-left: 10px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;

    &::after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #555 transparent transparent;
    }
}


.header {
    &:hover {
        cursor: pointer;
        .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
}


BUTTON {
    background-color: #000;
    color: #fff;
    border: 2px solid #0099CC;
    border-radius: 3px;
    &:hover {
        background-color: #0099CC;
        color: #000;
    }
}

